{% extends 'blogtemplates/blogminbase.html' %}
{% load static %}

{% block title %}
Login Page
{% endblock %}


{% block content %}

	
<div class="row">
	<div class="col" style="text-align: center;">
		<br>
		<h5 style="border: 1px solid #444; font-size: 1.5em;">=========Login User========</h5>
	</div>
</div>

<div class="row mt-5" >

		<div class="col-md-4"></div>
		<div class="col-md-4" style="border: 2px solid #594; padding: 5px 3px; background-color: #0B6623">
			<h4 style="text-align: center; background-color: lightgreen;">Login Panel</h4>
			<form method="post" style="border: 2px solid #897; padding: 5px;" class="to-write-subform1">
				{% csrf_token %}
				{{form.as_p}}
				<div>
					<input type="submit" name="submit" value="Login" id="blogcreate">
				</div>
			</form>
		</div>
		<div class="col-md-4"></div>

</div>

{% endblock %}