{% extends 'blogtemplates/blogminbase.html' %}
{% load static %}

{% block title %}
Blog List 
{% endblock %}

{% block content %}

	
	<div class="row" style="margin-top: 5px;">
		<div class="col-md-6">
			<a href="" class="btn btn-primary">Filter</a>			
		</div>
		<div class="col-md-6" style="text-align: right;">
			<a href="" class="btn btn-warning">Filter</a>			
		</div>
	</div>

	<div class="row ml-1" style="background-color: #25A032;">
		<h4>All Blogs Availables</h4>
	</div>
	<div class="row ml-1">
		<div class="col-md-9">
			<div class="row" style="background-color: #248823;">
				{% for blog in allblogs %}
				<div class="col-md-4">
					<a href=" {% url 'blogapp:blogdetail' blog.id %} "><h4>{{blog.title|truncatechars:20}}</h4></a>
					<h4>Written by: {{blog.author}}</h4>
					<img src="{{blog.image.url}}" style="width: 100%; height: mx-auto;">
					<h4>{{blog.description|truncatewords:15}} <a href=" {% url 'blogapp:blogdetail' blog.id %} " style="color: orange;">See More...</a></h4>
				</div>
				{% endfor %}
			</div>

			{% if page_obj.has_other_pages %}
			<ul class="pagination mt-2">
			    {% if page_obj.has_previous %}
			    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
			    {% else %}
			    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
			    {% endif %}
			    {% for n in page_obj.paginator.page_range %}
			        {% if page_obj.number == n %}
			            <li class="page-item active"><span class="page-link">{{ n }} <span class="sr-only">(current)</span></span></li>
			        {% else %}
			            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{n}}</a></li>
			        {% endif %}
			    {% endfor %}
			    {% if page_obj.has_next %}
			      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number}}">Next</a></li>
			    {% else %}
			      <li class="page-item disabled"><span class="page-link">Next</span></li>
			    {% endif %}
			</ul>
			{% endif %}

		</div>
		<div class="col-md-3">
			<div class="row">
				<div class="col">
					<h4 style="text-align: center; color: purple;">Most Watched Blogs</h4><hr>
				</div>
			</div>
			<div class="row mt-2">
				<div class="col-md">
					{% for mblog in mostwatchblogs|slice:"3" %}
					<a href=" {% url 'blogapp:blogdetail' mblog.id %} "><img src="{{mblog.image.url}}" style="width: 100%; height: mx-auto;">
					<h5 style="text-align: center;">{{mblog.title}}</h5>
					</a>
					<hr>
					{% endfor %}
				</div>
			</div>
		</div>

	</div>
			

{% endblock %}