{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href=" {% static 'adminstatic/css/style.css' %} ">

	<link rel="icon" href=" {% static 'adminstatic/images/s-icon.jpg' %} " sizes="96x96" >
	<script src="https://kit.fontawesome.com/469736bb45.js" crossorigin="anonymous"></script>

	<script src=" {% static 'adminstatic/js/jquery-3.4.1.min.js' %} " ></script>
	<script src=" {% static 'adminstatic/js/bootstrap.min.js' %} "></script>
	<link rel="stylesheet" type="text/css" href=" {% static 'adminstatic/css/bootstrap.min.css' %} ">

	{% block css %}
	{% endblock %}

	<link rel="stylesheet" href=" {% static 'adminstatic/css/jquery.toast.min.css' %} ">


	{% block js %}
	{% endblock %}

</head>
<body class="container-fluid" id="body">

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href=" {% url 'pharmacyapp:adminhome' %} ">Welcome-P</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href=" {% url 'pharmacyapp:adminhome' %} ">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href=" {% url 'pharmacyapp:adminmedicinelist' %} ">Medicines</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Purchase</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Sales</a>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          My Journal
	        </a>
	        <div class="dropdown-menu navbar-dark bg-dark" aria-labelledby="navbarDropdown">
	          <a id="navbar-dropdown" class="dropdown-item" href=" {% url 'diaryapp:diaryhome' %} " style="color: green;">Diary</a>
	          <a id="navbar-dropdown" class="dropdown-item" href=" {% url 'blogapp:bloghome' %} " style="color: green;">Blogs</a>
	          <div class="dropdown-divider"></div>
	          <a id="navbar-dropdown" class="dropdown-item" href="#" style="color: green;">To-Do-Lists</a>
	        </div>
	      </li>
	      {% if request.user.is_authenticated %}
	      <li class="nav-item">
	        <a class="nav-link disabled" href="#" style="color: #03AC13;">User: {{request.user}}</a>
	      </li>
	      {% else %}
	      <!-- <li class="nav-item">
	      	<a class="nav-link" href=" {% url 'blogapp:login' %} ">Signin</a>
	      </li>
	      <li class="nav-item">
	      	<a class="nav-link" href=" {% url 'blogapp:signup' %} ">Signup</a>
	      </li> -->
	      {% endif %}
	    </ul>
	    <form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    </form>
	  </div>
	</nav>

	

	{% block content %}
	{% endblock %}

	<div id="footer" >
		<h4>Created By: Handsome </h4>
		
	</div>

	<script type="text/javascript" src=" {% static 'adminstatic/js/jquery.toast.min.js' %} "></script>


<script type="text/javascript">
   $(".subform1").on("submit",function(e){
      e.preventDefault();
      $this = $(this);
      $.ajax({
         type:"POST",
         url: $this.attr('action'),
         data: $this.serialize(),
         success : function(data){
            if (data.success){
                $.toast({
                    heading: 'Login Prompt',
                    text: data.success,
                    bgColor: 'green',
                    position: 'top-right',
                    showHideTransition: 'slide',
                    icon: 'success'
                });
                 $this.trigger("reset");
            }
            else {
              $.toast({
                    heading: 'Login Prompt',
                    text: data.error,
                    bgColor: 'red',
                    position: 'top-right',
                    showHideTransition: 'slide',
                    icon: 'warning'
                });
              $this.trigger("reset");
           }
         }
      });
   });
</script>


<script type="text/javascript">
   '{% if messages %}'
      '{% for message in messages %}'
         $.toast({
                 heading: 'News Flash',
                 text: '{{message}}',
                 bgColor: 'red',
                 position: 'top-right',
                 showHideTransition: 'slide',
                 icon: 'warning'
                });
      '{% endfor %}'
   '{% endif %}'
</script>




<script type="text/javascript">
	$(document).ready(function() {
	    $(".dropdownMenuLink").dropdown();
	});
</script>

</body>
</html>