{% extends 'blogtemplates/blogminbase.html' %}
{% load static %}

{% block title %}
Blog Delete Page
{% endblock %}

{% block content %}

<div class="row mt-2 ml-2">
	<div class="col" style="text-align: center; margin-bottom: 19px;">
		<form method="POST">
			{% csrf_token %}
			<h4>Do You Want To Delete This Blog???</h4>
			<h4>Title: {{blog.title}}</h4>
			<button class="btn btn-danger">YES</button>
			<a href=" {% url 'blogapp:bloglist' %} " class="btn btn-info">Never Mind</a>
		</form>
	</div>
</div>

{% endblock %}