{% extends 'blogtemplates/blogbase.html' %}
{% load static %}

{% block title %}
Blog Home Page
{% endblock %}

{% block content %}

	<div class="row" style="margin-top: 5px; margin-right: 1px;" id="container">
		<div class="col-md-4">
			<img src=" {% static 'adminstatic/images/green.jpg' %} " alt="Snow" style="width:100%; height: mx-auto;">
			<div class="center"><a href=" {% url 'blogapp:bloglist' %} " class="btn btn-primary" style="opacity: 70%; font-size: 1.5em;">All Blogs</a></div>
		</div>
		<div class="col-md-4">
			<img src=" {% static 'adminstatic/images/green.jpg' %} " alt="Snow" style="width:100%; height: mx-auto;">
			<div class="center"><a href=" {% url 'blogapp:blogcreate' %} " class="btn btn-success" style="opacity: 70%; font-size: 1.5em;">Create Blogs</a></div>
		</div>
		<div class="col-md-4">
			<img src=" {% static 'adminstatic/images/green.jpg' %} " alt="Snow" style="width:100%; height: mx-auto;">
			<div class="center"><a href=" {% url 'blogapp:blogmanage' %} " class="btn btn-danger" style="opacity: 70%; font-size: 1.5em;">Manage Blogs</a></div>
		</div>
	</div>


	<div class="row" style="margin-top: 5px; margin-right: 1px;" id="container">
		<div class="col-md-2"></div>
		<div class="col-md-4">
			{% if request.user.is_authenticated %}
			<img src=" {% static 'adminstatic/images/green.jpg' %} " alt="Snow" style="width:100%; height: mx-auto;">
			<div class="center"><a href="#" class="btn btn-danger" style="opacity: 70%; font-size: 1.5em; text-transform: uppercase;">"<i class="fas fa-grin-hearts"></i>"{{request.user}}"<i class="fas fa-grin-hearts"></i>"</a></div>
			{% else %}
			<img src=" {% static 'adminstatic/images/green.jpg' %} " alt="Snow" style="width:100%; height: mx-auto;">
			<div class="center"><a href=" {% url 'blogapp:login' %} " class="btn btn-danger" style="opacity: 70%; font-size: 1.5em;">SignIn</a></div>
			{% endif %}
		</div>
		<div class="col-md-4">
			{% if request.user.is_authenticated %}
			<img src=" {% static 'adminstatic/images/green.jpg' %} " alt="Snow" style="width:100%; height: mx-auto;">
			<div class="center"><a href=" {% url 'blogapp:logout' %} " class="btn btn-warning" style="opacity: 70%; font-size: 1.5em;">"<i class="far fa-dizzy"></i>"Signout"<i class="far fa-dizzy"></i>"</a></div>
			{% else %}
			<img src=" {% static 'adminstatic/images/green.jpg' %} " alt="Snow" style="width:100%; height: mx-auto;">
			<div class="center"><a href=" {% url 'blogapp:signup' %} " class="btn btn-warning" style="opacity: 70%; font-size: 1.5em;">"<i class="far fa-grin-tongue-squint"></i>"Signup"<i class="far fa-grin-tongue-squint"></i>"</a></div>
			{% endif %}
		</div>
		<div class="col-md-2"></div>
	</div>

{% endblock %}