{% extends "blogtemplates/blogminbase.html" %}
{% load static %}

{% block title %}
Manage Blog
{% endblock %}

{% block content %}

	<div class="row mt-2 ml-1 mr-1">
		<div class="col" style="text-align: center; background-color: grey;">
			<h5>List Of All Blogs</h5>
		</div>
	</div>
	
		
	<div class="row mt-2">
		<div class="col-md-1">

		</div>
		<div class="col-md-10">
			<table class="table">
				<thead>
					<tr class="table-heading">
						<th>SN</th>
						<th>Title</th>
						<th>Image</th>
						<th>Short Description</th>
						<th>Author</th>
						<th>Created-Date</th>
						<th>Total Views</th>
						<th>Manage</th>
					</tr>
				</thead>
				<tbody>
					{% for blog in allblogs %}
					<tr class="table-blog">
						<td>{{forloop.counter}}</td>
						<td>{{blog.title}}</td>
						<td><img src="{{blog.image.url}}" style="width: 100%; height: mx-auto;"></td>
						<td>{{blog.description|truncatewords:"8"}}</td>
						<td>{{blog.author}}</td>
						<td>{{blog.created_at}}</td>
						<td>{{blog.blog_views}}</td>
						<td>
							<a href=" {% url 'blogapp:blogupdate' blog.id %} " class="btn btn-primary"><i class="fas fa-edit"></i></a>
							<br>
							<a href=" {% url 'blogapp:blogdelete' blog.id %} " class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-md-1"></div>
	</div>


	<div class="row ml-1 mr-1">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<!-- Top Pagination Start -->
                {% if allblogs.has_other_pages %}
                <ul class="pagination">
                    {% if allblogs.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ allblogs.previous_page_number }}">Previous</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    {% endif %}
                    {% for n in allblogs.paginator.page_range %}
                        {% if allblogs.number == n %}
                            <li class="page-item active"><span class="page-link">{{ n }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{n}}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if allblogs.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ allblogs.next_page_number}}">Next</a></li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">Next</span></li>
                    {% endif %}
                </ul>
                {% endif %}
                <!-- Top Pagination Ends -->
        </div>
        <div class="col-md-1"></div>
    </div>


{% endblock %}