{% extends 'blogtemplates/blogminbase.html' %}
{% load static %}

{% block title %}
Blog Detail Page
{% endblock %}

{% block content %}
<div class="row" id="blogging">
	<div class="col" id="blogging">
		<h3>Blog Title: {{blogobject.title}}</h3>
	</div>
</div>

<div class="row mt-1" id="blogging-body">
	<div class="col-6">
		<img src=" {{blogobject.image.url}} " style="width: 100%; height: mx-auto;">		
	</div>
	<div class="col-6" style="background-color: #6CBB3C;">
		<h5>Description: </h5>
		<p>{{blogobject.description}}</p>
		<br>
		<h4>Author: {{blogobject.author}}</h4>
		<h4>Created At: {{blogobject.created_at|date}}</h4>
	</div>
</div>

<div class="row" id = "blogging">
	<div class="col-md-6" style="text-align: center; color: silver;">
		<h5>View Count: {{blogobject.blog_views}}</h5>
	</div>
	<div class="col-md-6" style="text-align: center;">
		<a href=" {% url 'blogapp:blogupdate' blogobject.id %} " class="btn btn-warning" style="margin: 5px 2px;">Update</a>
		<a href=" {% url 'blogapp:blogdelete' blogobject.id %} " class="btn btn-danger" style="margin: 5px 2px;">Delete</a>
	</div>
</div>


{% endblock %}