{% extends 'blogtemplates/blogminbase.html' %}
{% load static %}

{% block title %}
Blog Update Page
{% endblock %}

{% block content %}

<div class="row">
	<div class="col" style="text-align: center;">
		<br>
		<h5 style="border: 1px solid #444; font-size: 1.5em;">=========Update Blog========</h5>
	</div>
</div>

<div class="row mt-5">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<h4 style="text-align: center; background-color: lightgreen;">Blog Update Form</h4>
		<form method="post" enctype="multipart/form-data" style="border: 2px solid #897; padding: 5px;">
			{% csrf_token %}
			{{form.as_p}}
			<div>
				<input type="submit" name="submit" value="Update" id="blogcreate">
				<input type="submit" name="submit" value="Cancel" id="blogcancel">
			</div>
		</form>
	</div>
	<div class="col-md-3"></div>
</div>



{% endblock %}