{% extends 'admintemplates/adminmedicalbase.html' %}
{% load static %}

{% block title %}
Medicine Detail Page
{% endblock %}

{% block content %}

<div class="row mt-1 ml-1 mr-1">
	<div class="col" style="background-color: lightgreen; text-align: center;">
		<h4>Medicine Detail of {{singlemedicineobject.title}}</h4>
	</div>
</div>

<div class="row mt-1">
	<div class="col-md-9">
		
		<div class="row ml-1 mt-1 mr-1">
			<div class="col" style="text-align: center; color: white; background-color: grey;">
				<h4>Name of Manufacturer: {{singlemedicineobject.manufacturer}}</h4>
			</div>
		</div>
		<div class="row ml-1 mt-1 mr-1">
			<div class="col" style="text-align: center; color: white; background-color: grey;">
				<h4>Name of Supplier: {{singlemedicineobject.supplier}}</h4>
			</div>
		</div>
		<div class="row ml-1 mt-1 mr-1">
			<div class="col" style="text-align: center; color: white; background-color: #955967;">
				<h2>{{singlemedicineobject.title}}</h2>
			</div>
		</div>
		<div class="row ml-1 mt-1 mr-1">
			<div class="col-md-6" style="text-align: center; color: maroon; background-color: grey;">
				<h4>Name of Medicine: {{singlemedicineobject.title}}</h4>
			</div>
			<div class="col-md-6" style="text-align: center; color: maroon; background-color: silver;">
				<h4>Category: {{singlemedicineobject.medicine_category}}</h4>
			</div>
		</div>
		<div class="row ml-1 mt-1 mr-1">
			<div class="col-md-6" style="text-align: center; color: maroon; background-color: silver;">
				<h4>Batch: {{singlemedicineobject.batch}}</h4>
			</div>
			<div class="col-md-6" style="text-align: center; color: maroon; background-color: grey;">
				<h4>Stock Quantity: {{singlemedicineobject.quantity}}</h4>
			</div>
		</div>
		<div class="row ml-1 mt-1 mr-1">
			<div class="col-md-6" style="text-align: center; color: maroon; background-color: grey;">
				<h4>Cost Price: Rs.{{singlemedicineobject.cost_price}}</h4>
			</div>
			<div class="col-md-6" style="text-align: center; color: maroon; background-color: silver;">
				<h4>Selling Price: Rs.{{singlemedicineobject.selling_price}}</h4>
			</div>
		</div>
		<div class="row ml-1 mt-1 mr-1">
			<div class="col" style="text-align: center; color: white; background-color: #955967;">
				<h2>Expire Date: {{singlemedicineobject.batch.expire_date}}</h2>
			</div>
		</div>

		{% if singlemedicineobject.batch.expire_date > now.date  %}
		<div class="row ml-1 mt-1 mr-1">
			<div class="col" style="text-align: center; color: white; background-color: #955967;">
				<h2>Time Left: {{singlemedicineobject.batch.expire_date|timeuntil:now}}</h2>
			</div>
		</div>
		{% else %}
		<div class="row ml-1 mt-1 mr-1">
			<div class="col" style="text-align: center; color: white; background-color: #955967;">
				<h2>=== Medicine Expired ===</h2>
			</div>
		</div>
		{% endif %}

		<div class="row ml-1 mt-1 mr-1">
			<div class="col" style="text-align: center; color: white; background-color: #955967;">
				<h2>Description: {{singlemedicineobject.medicine_category.description}}</h2>
			</div>
		</div>
	</div>
</div>	
	



{% endblock %}