{% extends 'admintemplates/adminmedicalbase.html' %}
{% load static %}

{% block title %}
Medicine List Page
{% endblock %}

{% block content %}

<div class="row mt-1 ml-1 mr-1">
	<div class="col" style="background-color: lightgreen; text-align: center;">
		<h4>Medicine List</h4>
	</div>
</div>

<div class="row mt-1">
	<div class="col-md-9">
		
		<div class="row ml-1 mt-1 mr-1">
			<div class="col" style="text-align: center; color: white; background-color: grey;">
				<h4>Table of Medicines</h4>
			</div>
		</div>
		<div class="row mt-1">
			<div class="col-md ml-1">
				<table class="container-fluid">
					<thead>
						<tr>
							<th>SN</th>
							<th>Title</th>
							<!-- <th>Medicine</th> -->
							<th>Category</th>
							<th>SKU</th>
							<th>Rack</th>
						</tr>
					</thead>
					<tbody>
						{% for medicine in allmedicines %}
						<tr class="table-blog clickable-row" data-href = " {% url 'pharmacyapp:adminmedicinedetail' medicine.id %} ">
							<td>{{forloop.counter}}</td>
							<td>{{medicine.title}}</td>
							<td>{{medicine.medicine_category}}</td>
							<td>{{medicine.sku}}</td>
							<td>{{medicine.rack}}</td>

						</tr>
						{% endfor %}
					</tbody>
				</table>

				<!-- Top Pagination Start -->
                {% if allmedicines.has_other_pages %}
                <ul class="pagination" >
                    {% if allmedicines.has_previous %}
                    <li class="page-item" ><a class="page-link" href="?page={{ allmedicines.previous_page_number }}" >Previous</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    {% endif %}
                    {% for n in allmedicines.paginator.page_range %}
                        {% if allmedicines.number == n %}
                            <li class="page-item active"><span class="page-link">{{ n }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{n}}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if allmedicines.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ allmedicines.next_page_number}}">Next</a></li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">Next</span></li>
                    {% endif %}
                </ul>
                {% endif %}
                <!-- Top Pagination Ends -->

			</div>
		</div>
	</div>
	<div class="col-md-3" style="text-align: center;">
		<div class="row mt-1 ml-1 mr-1">
			<div class="col" style="text-align: center; color: blue; background-color: grey;">
				<h4>Expired Medicines</h4>
			</div>
		</div>
		<div class="row mt-1">
			<div class="col-md">
				<table class="container-fluid">
					<thead>
						<tr>
							<th>SN</th>
							<th>Name</th>
							<!-- <th>Medicine</th> -->
							<!-- <th>Category</th> -->
							<th>Batch</th>
							<!-- <th>Quantity</th> -->
							<!-- <th>Cost Price</th> -->
							<!-- <th>Selling Price</th> -->
							<th>Expiry Date</th>
							<!-- <th>Time-to-expiry</th> -->
						</tr>
					</thead>
					<tbody>
						{% for medicine in expired_medicine %}
						<tr class="table-expire clickable-row" data-href=" {% url 'pharmacyapp:adminsinglemedicinedetail' medicine.id %} ">
							<td>{{forloop.counter}}</td>
							<td>{{medicine.title}}</td>
<!-- 							<td>{{medicine.medicine}}</td>
							<td>{{medicine.medicine_category}}</td> -->
							<td>{{medicine.batch}}</td>
							<!-- <td>{{medicine.quantity}}</td> -->
							<!-- <td>{{medicine.cost_price}}</td> -->
							<!-- <td>{{medicine.selling_price}}</td> -->
							<td>{{medicine.batch.expire_date}}</td>
							<!-- <td>{{medicine.batch.expire_date}}</td> -->
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		</div>
	</div>
</div>



{% endblock %}

