{% extends 'admintemplates/adminmedicalbase.html' %}
{% load static %}

{% block title %}
Batch List Page
{% endblock %}

{% block content %}

<div class="row mt-1 ml-1 mr-1">
	<div class="col" style="background-color: lightgreen; text-align: center;">
		<h4>Batch List</h4>
	</div>
</div>

<div class="row mt-1">
	<div class="col-md-9">
		
		<div class="row ml-1 mt-1 mr-1">
			<div class="col" style="text-align: center; color: white; background-color: grey;">
				<h4>Table of Batches</h4>
			</div>
		</div>
		<div class="row mt-1">
			<div class="col-md ml-1">
				<table class="container-fluid">
					<thead>
						<tr>
							<th>SN</th>
							<th>Name</th>
							<th>Manufacturer</th>
							<th>Supplier</th>
							<th>Manufacture Date</th>
							<th>Expire Date</th>
							<th>Time Left</th>
							<th>Manage</th>
						</tr>
					</thead>
					<tbody>
						{% for batch in allbatch %}
						<tr class="table-blog clickable-row" data-href = " {% url 'pharmacyapp:adminmedicinedetail' batch.id %} ">
							<td>{{forloop.counter}}</td>
							<td>{{batch.name}}</td>
							<td>{{batch.manufacturer}}</td>
							<td>{{batch.supplier.name}}</td>
							<td>{{batch.manufacture_date}}</td>
							<td>{{batch.expire_date}}</td>
							<td><span><h5>{{batch.expire_date|timeuntil:now}}</h5></span></td>
							<td>
								<a href="" class="btn btn-primary">Update</a>
								<a href="" class="btn btn-danger">Delete</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

				<!-- Top Pagination Start -->
                {% if allbatch.has_other_pages %}
                <ul class="pagination" >
                    {% if allbatch.has_previous %}
                    <li class="page-item" ><a class="page-link" href="?page={{ allbatch.previous_page_number }}" >Previous</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    {% endif %}
                    {% for n in allbatch.paginator.page_range %}
                        {% if allbatch.number == n %}
                            <li class="page-item active"><span class="page-link">{{ n }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{n}}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if allbatch.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ allbatch.next_page_number}}">Next</a></li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">Next</span></li>
                    {% endif %}
                </ul>
                {% endif %}
                <!-- Top Pagination Ends -->

			</div>
		</div>
	</div>
	<div class="col-md-3" style="text-align: center;">
		<div class="row mt-1 ml-1 mr-1">
			<div class="col" style="text-align: center; color: blue; background-color: grey;">
			</div>
		</div>
		
	</div>
</div>



{% endblock %}

