{% extends 'admintemplates/adminmedicalbase.html' %}
{% load static %}

{% block title %}
Supplier List Page
{% endblock %}

{% block content %}

<div class="row mt-1 ml-1 mr-1">
	<div class="col" style="background-color: lightgreen; text-align: center;">
		<h4>Supplier List</h4>
	</div>
</div>

<div class="row mt-1">
	<div class="col-md-9">
		
		<div class="row ml-1 mt-1 mr-1">
			<div class="col" style="text-align: center; color: white; background-color: grey;">
				<h4>Table of Suppliers</h4>
			</div>
		</div>
		<div class="row mt-1">
			<div class="col-md ml-1">
				<table class="container-fluid">
					<thead>
						<tr>
							<th>SN</th>
							<th>Name</th>
							<th>Phone No</th>
							<th>Manage</th>
						</tr>
					</thead>
					<tbody>
						{% for supplier in allsupplier %}
						<tr class="table-blog clickable-row" data-href = " {% url 'pharmacyapp:adminmedicinedetail' supplier.id %} ">
							<td>{{forloop.counter}}</td>
							<td>{{supplier.name}}</td>
							<td>{{supplier.contact_no}}</td>
							<td>
								<a href="" class="btn btn-primary">Update</a>
								<a href="" class="btn btn-danger">Delete</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

				<!-- Top Pagination Start -->
                {% if allsupplier.has_other_pages %}
                <ul class="pagination" >
                    {% if allsupplier.has_previous %}
                    <li class="page-item" ><a class="page-link" href="?page={{ allsupplier.previous_page_number }}" >Previous</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    {% endif %}
                    {% for n in allsupplier.paginator.page_range %}
                        {% if allsupplier.number == n %}
                            <li class="page-item active"><span class="page-link">{{ n }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{n}}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if allsupplier.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ allsupplier.next_page_number}}">Next</a></li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">Next</span></li>
                    {% endif %}
                </ul>
                {% endif %}
                <!-- Top Pagination Ends -->

			</div>
		</div>
	</div>
	<div class="col-md-3" style="text-align: center;">
		<div class="row mt-1 ml-1 mr-1">
			<div class="col" style="text-align: center; color: blue; background-color: grey;">
			</div>
		</div>
		
	</div>
</div>



{% endblock %}

