{% extends 'admintemplates/adminmedicalbase.html' %}
{% load static %}

{% block title %}
Medicine Detail Page
{% endblock %}

{% block content %}

<div class="row mt-1 ml-1 mr-1">
	<div class="col" style="background-color: lightgreen; text-align: center;">
		<h4>Medicine Detail</h4>
	</div>
</div>

<div class="row mt-1">
	<div class="col-md-9">
		
		<div class="row ml-1 mt-1 mr-1">
			<div class="col" style="text-align: center; color: white; background-color: grey;">
				<h4>Detail of Medicine: {{medicineobject.title}}</h4>
			</div>
		</div>
		<div class="row ml-1 mt-1 mr-1">
			<div class="col-md-6" style="text-align: center; color: maroon; background-color: grey;">
				<h4>Name of Medicine: {{medicineobject.title}}</h4>
			</div>
			<div class="col-md-6" style="text-align: center; color: maroon; background-color: silver;">
				<h4>Category: {{medicineobject.medicine_category}}</h4>
			</div>
		</div>
		<div class="row ml-1 mt-1 mr-1">
			<div class="col-md-6" style="text-align: center; color: maroon; background-color: silver;">
				<h4>SKU: {{medicineobject.sku}}</h4>
			</div>
			<div class="col-md-6" style="text-align: center; color: maroon; background-color: grey;">
				<h4>Stored Rack: {{medicineobject.rack}}</h4>
			</div>
		</div>
		<div class="row ml-1 mt-1 mr-1">
			<div class="col" style="text-align: center; color: white; background-color: #955967;">
				<h4>Stock List of Medicines Under: {{medicineobject.title}}</h4>
			</div>
		</div>
		<div class="row mt-1">
			<div class="col-md ml-1">
				<table class="container-fluid">
					<thead>
						<tr>
							<th>ID</th>
							<th>Medicine Name</th>
							<th>Batch NO</th>
							<th>Cost Price</th>
							<th>Stock Quantity</th>
							<th>Expiry Date</th>
							<th>Days left</th>
						</tr>
					</thead>
					<tbody>
						{% for medicine in freshmedicine %}
						<tr class="table-blog clickable-row" data-href = " {% url 'pharmacyapp:adminsinglemedicinedetail' medicine.id %} ">
							<td>{{medicine.id}}</td>
							<td>{{medicine.title}}</td>
							<td>{{medicine.batch}}</td>
							<td>{{medicine.cost_price}}</td>
							<td>{{medicine.quantity}}</td>
							<td>{{medicine.batch.expire_date}}</td>
							<td>{{medicine.batch.expire_date|timeuntil:now}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-3" style="text-align: center;">
		<div class="row mt-1 ml-1 mr-1">
			<div class="col" style="text-align: center; color: blue; background-color: grey;">
				<h4>Expired Medicines</h4>
			</div>
		</div>
		<div class="row mt-1">
			<div class="col-md">
				<table class="container-fluid">
					<thead>
						<tr>
							<!-- <th>Medicine ID</th> -->
							<th>Name</th>
							<th>Batch NO</th>
							<!-- <th>Manufacturer</th> -->
							<!-- <th>Supplier</th> -->
							<!-- <th>Cost Price</th> -->
							<!-- <th>Selling Price</th> -->
							<th>Stock Quantity</th>
							<!-- <th>Expiry Date</th> -->
							<!-- <th>Days left</th> -->
						</tr>
					</thead>
					<tbody>
						{% for medicine in expiredmedicine %}
						<tr class="table-blog table-expire clickable-row" data-href=" {% url 'pharmacyapp:adminsinglemedicinedetail' medicine.id %} ">
							<!-- <td>{{medicine.id}}</td> -->
							<td>{{medicine.title}}</td>
							<td>{{medicine.batch}}</td>
							<!-- <td>{{medicine.manufacturer}}</td> -->
							<!-- <td>{{medicine.supplier}}</td> -->
							<!-- <td>{{medicine.cost_price}}</td> -->
							<!-- <td>{{medicine.selling_price}}</td> -->
							<td>{{medicine.quantity}}</td>
							<!-- <td>{{medicine.batch.expire_date}}</td> -->
							<!-- <td>{{medicine.batch.expire_date|timeuntil:now}}</td> -->
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>



{% endblock %}