{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block title %}
Welcome Pharmacy Admin Home Page
{% endblock %}

{% block content %}

<div class="row ml-1" >
	{% for pharmacy in allpharmacy %}
	<div class="col-6" id="head">
		<h4 style="font-size: 1.5em;"> {{pharmacy.name}}</h4>
	</div>
	<div class="col-6" id="head">
		<h3 style="font-size: 1.5em;">Established: {{pharmacy.estd_date}}</h3>
		<br>
	</div>
</div>
	<div class="row ml-1 mr-1" style=" background-color: silver;">
		<div class="col-md-4">
			<h4>Owner: {{pharmacy.owner}}</h4><br>
			<h4>E-mail: {{pharmacy.email}}</h4><br>
			<h4>Facebook: {{pharmacy.facebook_id}}</h4><br>
			<h4>Website: {{pharmacy.website}}</h4><br>
			<h4>Contact No.: {{pharmacy.contact_no}}</h4><br>
			<h4>Address: {{pharmacy.address}}</h4><br>
			<h4>Slogan: {{pharmacy.slogan}}</h4><br>
		</div>
		<div class="col-md-4">
			<img src=" {{pharmacy.logo.url}} " style="width: 100%; height: mx-auto;">
			<h4>Fig: Pharmacy Logo</h4>
		</div>
		<div class="col-md-4">
			<img src=" {{pharmacy.profile_image.url}} " style="width: 100%; height: mx-auto;">
			<h4>Fig: Pharmacy Profile Image</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-1"></div>
		<div class="col-10">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d441.611884100196!2d85.38998171145485!3d27.689637717504333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjfCsDQxJzIyLjciTiA4NcKwMjMnMjQuMyJF!5e0!3m2!1sen!2snp!4v1576059876932!5m2!1sen!2snp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" id="map"></iframe>
		</div>
		<div class="col-1"></div>
	</div>
	{% endfor %}

	<div class="row ml-1 mr-1">
		<div class="col" id="contact">
			Leave A Message For Us...
		</div>
	</div>
	<div class="row ml-1 mr-1" style="background-color: grey;">
		<div class="col-6" style="background-color: #808588;">
			<div class="row">
				<div class="col-md-3" id="initials">
					<h4>Name: </h4>
				</div>
				<div class="col-md-9">
					<input type="text" name="firstname" placeholder="Your name..">
				</div>
			</div>
			<div class="row">
				<div class="col-md-3" id="initials">
					<h4>E-mail: </h4>
				</div>
				<div class="col-md-9">
					<input type="text" name="email" placeholder="Your email..">
				</div>
			</div>
			<div class="row">
				<div class="col-md-3" id="initials">
					<h4>Location: </h4>
				</div>
				<div class="col-md-9">
					<select id="country" name="country">
						<option value="australia">---------</option>
						<option value="australia">Kathmandu</option>
						<option value="canada">Bhaktapur</option>
						<option value="usa">Lalitpur</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3" id="initials">
					<h4>Message: </h4>
				</div>
				<div class="col-md-9">
					<textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<input type="submit" name="submit" style="
						background-color: #4CAF50;
						color: black;
						text-transform: uppercase;
						font-weight: 700;
						font-size: 1.2em;
						padding: 12px 20px;
						border: none;
						border-radius: 4px;
						cursor: pointer;
						float: right;
						margin-bottom: 5px;">
				</div>
			</div>
		</div>
		<div class="col-6" style="text-align: center; background-color: #999DA0;">
			<h4>--- Contact US ---</h4>
			{% for contact in allpharmacy %}
			<div>
				<br>
				<h4>Pharmacy Name: {{contact.name}}</h4>
				<h4>Owner: {{contact.owner}}</h4>
				<h4>Phone: {{contact.contact_no}}</h4>
				<h4>Email: {{contact.email}}</h4>
				<h4>Facebook: {{contact.facebook_id}}</h4>
				<h4>Website: {{contact.website}}</h4>
				<h4>Address: {{contact.address}}</h4>
			</div>
			{% endfor %}
		</div>
		
	</div>
 
{% endblock %}